*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    font-family: 'Kumbh Sans',sans-serif;
}

/* Nav Section */
.navbar-nav {
    text-align: center;
}

.navbar-nav a {
    color: white !important;
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}


.navbar .navbar-brand {
    color: white !important;
    font-size: 35px;
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar .navbar-nav .navbar-link {
    color: white !important;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
    transition: all ease-in 0.4s;   
}

.navbar .navbar-nav a:hover {
    background: transparent;
    color: #078c03 !important;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar .navbar-nav a:hover::after {
    width: 100%;
    background: #078c03;
    color: #078c03 !important;
}

.navbar-toggler {
    background-color: #078c03 !important;
    border:none;
}

@media only screen and (max-width: 768px) {
    .navbar-nav.ms-auto {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

/* button */
.nav__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, black  0%, #078c03 100%);
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    color: white;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s;
    outline: none;
}

.nav__btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.bg-color {
    background: transparent;
    transition: 0.2s ease;
}

.bg-color.scrolled {
    background: rgb(27, 27, 27) !important;
}

/* Sign in - Section*/
.sign{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Home Section */
.w-100 {
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(24, 23, 23, 0.75);
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    margin-bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: popping;
}

/* button */
.main__btn {
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #078c41 0%, #7dad7c 100%);
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    z-index: 2;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main__btn a:hover {
    color: #078c03;
}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all 0.35s;
    border-radius: 10px;
}

.main__btn:hover::after {
    width: 100%;
    color: white;
}

/* Tutors Section */
.tutors {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100hv;
    margin-top: 5rem;
}    

.tutors h1 {
    background-color: #078c03;
    background-image: linear-gradient(to top, #078c41 0%, #0DF205 100%);
    background-size: 100%;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.profile-area {
    padding: 30px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100hv;
    margin-top: 3rem;
}

.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.card .img1 img {
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.card .img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid;
    margin-top: -80px;
    color: black;
}

.card:hover .img2 img {
    border-color: #078c03;
    transition: 0.7s;
}

.card-body {
    padding: 30px 0;
    text-align: center;
}

.card-body h5 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
    z-index: 2;
    position: relative;
}

.card-body p {
    font-size: 16px;
    padding: 0 35px;   
}

.card-body button {
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #078c41 0%, #7dad7c 100%);
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    z-index: 2;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    outline: none;
}

/* button */
.card-body button a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.card-body button a:hover {
    color: #078c03;
}

.card-body button::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all 0.35s;
    border-radius: 10px;
}

.card-body button:hover::after {
    width: 100%;
    color: white;
}

.socials {
    text-align: center;
    padding-bottom: 20px;
}

.socials i {
    font-size: 20px;
    color: #078c03;
    padding: 0 10px;
}

.socials i:hover {
    color: black;
}

/* Count Up Section */
.counter-container {
    padding: 50px 0;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box:hover {
    background: #078c03;
}

.counter-box.colored p, .counter-box.colored i, .counter-box.colored .counter {
    color: #fff
}

/* Fotter Section */
.footer__container {
    background-color: black;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: white;
}

.footer__link--items a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #078c03;
    font-size: 18px;
}

/* Social Media */
.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    font-size: 25px;
}

.social__icons a {
    color: #078c03;
}

.social__icons a:hover {
    color: white;
}

.footer__logo {
    color: white;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__right {
    color: white;
}

/* mobile responsive */
@media screen and (max-width: 820px) {

    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__right {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {

    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

}

/* ////////////////////////////////////////////////////////////// */

/* Tutor Page */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100hv;
    margin-top: 8rem;
    
}    

.title h1 {
    background-color: #078c03;
    background-image: linear-gradient(to top, #078c41 0%, #0DF205 100%);
    background-size: 100%;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar-collapse {
    justify-content: center;
    align-items: center;
}

/* Body Section */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 8rem;
}

.card {
    cursor: pointer;
    width: 340px;
    height: 620px;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
}

.front .card-body h5 {
    color: black;
    font-size: 35px;
    margin-top: 280px;
    align-content: center;
}

.front .img1 img {
    height: 620px;
    position: absolute;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}
/* ////////////////////////////////////////////////////////////// */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }